* {
  box-sizing: border-box;
  /* background-color: rgb(159, 219, 219); */
}

#search {
  display: flex;
  width: 100%;
  /* margin: 10px; */
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  width: 25%;
  margin: 30px 15px;
  box-shadow: 0 4px 8px 0 rgba(49, 224, 195, 0.2);
  background-color: rgb(114, 80, 80);
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.4s all ease-in-out;
}
